:root {
    --lightblack: #403c38;
    --black: #312d2a;
    --darkblack: #211e1c;
    --gray: #737373;
    --lightgray: #b3b3b3;
    --red: red;
    --lime: lime;
}
@font-face {
    font-family: codefont;
    src: url(fonts/CamingoCode-Regular.woff);
}
html {
    font-size: 20px;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    width: 100%;
    background: var(--black);
}

/*      BANNER      */
header {
    width: 100%;
    height: 100vh;
    background: url(image/background.jpg);
    background-size: cover;
    background-position: center;
}
.panel-section {
    background: var(--lightblack);
    width: 40rem;
    max-width: 60%;
    height: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 5px 0 var(--darkblack);
    text-align: center;
}
.panel-section:nth-child(odd) {
    margin: 1rem auto 2rem 10%;
}
.panel-section:nth-child(even) {
    margin: 1rem 10% 2rem auto;
}
.panel-bottom {
    text-align: center;
}
.panel-bottom img {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    border-radius: 50%;
}
/*    MAIN-TITLE    */
.main-title {
    text-align: center;
    height: 1ch;
    margin: 0;
    display: inline;
    font-family: codefont, monospace;
}
.main-title span {
    display: inline-flex;
}
.main-title span:nth-child(2) {
    overflow: hidden;
    width: 10ch;
    animation: typingFirst 10s steps(9) infinite;
    animation-direction: alternate;
}
.main-title span:nth-child(3) {
    overflow: hidden;
    width: 10ch;
    animation: typingSecond 10s steps(8) infinite;
    animation-direction: alternate;
}
@keyframes typingFirst {
    0% {
        width: 9ch;
    }
    25% {
        width: 9ch;
    }
    50% {
        width: 0;
    }
    75% {
        width: 0;
    }
    100% {
        width: 0;
    }
}
@keyframes typingSecond {
    0% {
        width: 0;
    }
    25% {
        width: 0;
    }
    50% {
        width: 0;
    }
    75% {
        width: 8ch;
    }
    100% {
        width: 8ch;
    }
}
div.cursor {
    height: 3rem;
    width: 0.5rem;
    transform: translateY(0.5rem);
    background: var(--red);
    display: inline-block;
    animation: cursor 1s infinite;
    animation-direction: alternate;
}
@keyframes cursor {
    0% {
        background: var(--red);
    }
    60% {
        background: var(--red);
    }
    100% {
        background: transparent;
    }
}
/*      MAIN        */
h1, h2, h3, p {
    font-family: codefont, sans-serif;
}
h1 {
    font-size: 2.5rem;
    color: var(--red);
}
h2 {
    font-size: 1.5rem;
    color: var(--red);
}
h3 {
    font-size: 1.2rem;
    color: var(--red);
}
p {
    font-size: 1rem;
    color: var(--lime);
}
b {
    color: var(--red);
}
/*      SKILLS      */
#skills article {
    display: inline-flex;
}
div.skill-icon {
    width: fit-content;
    margin: 1rem;
    padding: 0.5rem;
    background: var(--gray);
    border-radius: 1rem;
    display: inline-block;
}
#skills div.content {
    width: calc(100% - 9rem);
    display: inline-block;
}
.skill-icon img {
    width: 5rem;
    height: 5rem;
}
/*  MY CERTIFICATES */
.slide-container {
    width: 100%;
    height: 20rem;
    border-collapse: collapse;
    table-layout: fixed;
}
.slider, .viewer {
    margin: 0;
    padding: 0;
}
.slider {
    height: 100%;
    width: 5%;
    background: var(--black);
}
.slider:hover {
    background: var(--gray);
}
.slider.left {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.slider.right {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.slider img {
    width: 100%;
}
.viewer {
    height: 100%;
    width: 80%;
    background: var(--black);
    overflow: hidden;
    white-space: nowrap;
}
.viewer img {
    height: auto;
    width: 90%;
    padding: 5%;
}
/*      FOOTER      */
footer {
    width: 100%;
    height: 5rem;
    background: var(--darkblack);
}
/*      MATRIX      */

/*RESOLUTION*/
@media (max-width:1400px) {
    html {font-size: 18px;}
}
@media (max-width:1025px) {
    html {font-size: 16px;} 
    body{background: orange;}
}
@media (max-width:801px) {
    html {font-size: 14px;}
    body{background: yellow;} 
    section:nth-child(odd), section:nth-child(even) {margin: 1rem auto 2rem auto}
    .progress-bar { margin-left: 0; width: 100%;}
}
@media (max-width:600px) {
    html {font-size: 13px;}
    body{background: green;}
}
@media (max-width:480px) {
    html {font-size: 12px;}
    body{background: blue;}
}
@media (max-width:320px) {
    html {font-size: 10px;}
    body{background: violet;}
}
