:root {
    --black: #333;
    --darkblack: black;
    --gray: gray;
    --darkgray: darkgray;
}
html {
    font-size: 20px;
    scroll-behavior: smooth;
}
body {
    margin: 0;
}
header {
    width: 100vw;
    height: 100vh;
}
.cmd {
    width: 30rem;
    height: 20rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 0 var(--darkblack);
    background: var(--black);
}
.cmd .panel {
    width: 100%;
    height: 1.5rem;
    background: var(--gray);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.cmd pre {
    color: lime;
    font-family: monospace;
    font-size: 0.7rem;
}
.panel p {
    margin: 0.2rem 0 0 0;
    float: left;
}
.panel div {
    height: 1.5rem;
    float: left;
}
.panel .ctrl {
    float: right;
}
.panel img {
    padding: 0.2rem;
    height: 1.2rem;
    float: left;
}
.red {
    background: red !important;
    border-top-right-radius: 0.5rem;
}
/*RESOLUTION*/
@media (max-width:1400px) {
    html {font-size: 18px;}
}
@media (max-width:1025px) {
    html {font-size: 16px;} 
    body{background: orange;} 
}
@media (max-width:801px) {
    html {font-size: 14px;}
    body{background: yellow;} 
}
@media (max-width:600px) {
    html {font-size: 13px;}
    body{background: green;}
}
@media (max-width:480px) {
    html {font-size: 12px;}
    body{background: blue;}
}
@media (max-width:320px) {
    html {font-size: 10px;}
    body{background: violet;}
}
