:root {
    --lightblack: #403c38;
    --black: #312d2a;
    --darkblack: #211e1c;
    --gray: #737373;
    --lightgray: #b3b3b3;
    --red: red;
    --lime: lime;
}
html {
    font-size: 20px;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    width: 100%;
    background: var(--black);
}

/*      BANNER      */
header {
    width: 100%;
    height: 100vh;
    background: url(image/background.jpg);
    background-size: cover;
    background-position: center;
}
section {
    background: var(--lightblack);
    width: 40rem;
    max-width: 60%;
    height: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 5px 0 var(--darkblack);
    text-align: center;
}
section:nth-child(odd) {
    margin: 1rem auto 2rem 10%;
}
section:nth-child(even) {
    margin: 1rem 10% 2rem auto;
}
/*    MAIN-TITLE    */
.main-title {
    text-align: center;
    height: 1ch;
    margin: 0;
    display: inline;
}
.main-title span {
    display: inline-flex;
}
.main-title span:nth-child(2) {
    overflow: hidden;
    width: 10ch;
    animation: typingFirst 10s infinite;
    animation-direction: alternate;
}
.main-title span:nth-child(3) {
    overflow: hidden;
    width: 10ch;
    animation: typingSecond 10s infinite;
    animation-direction: alternate;
}
@keyframes typingFirst {
    0% {
        width: 10ch;
    }
    20% {
        width: 10ch;
    }
    40% {
        width: 0;
    }
    60% {
        width: 0;
    }
    80% {
        width: 0;
    }
    100% {
        width: 0;
    }
}

@keyframes typingSecond {
    0% {
        width: 0;
    }
    20% {
        width: 0;
    }
    40% {
        width: 0;
    }
    60% {
        width: 10ch;
    }
    80% {
        width: 10ch;
    }
    100% {
        width: 0;
    }
}
/*      MAIN        */
h1 {
    font-size: 2.5rem;
    color: var(--red);
}
h2 {
    font-size: 1.5rem;
    color: var(--red);
}
h3 {
    font-size: 1.2rem;
    color: var(--red);
}
p {
    font-size: 1rem;
    color: var(--lime);
}
b {
    color: var(--red);
}
/*      SKILLS      */
#skills article {
    display: block;
}
div.skill-icon {
    width: fit-content;
    margin: 1rem;
    padding: 0.5rem;
    background: var(--gray);
    border-radius: 1rem;
    display: inline-block;
}
#skills div.content {
    width: calc(100% - 9rem);
    text-align: left;
    display: inline-block;
}
.skill-icon img {
    width: 5rem;
    height: 5rem;
}
/*      FOOTER      */
footer {
    width: 100%;
    height: 5rem;
    background: var(--darkblack);
}
/*      MATRIX      */

/*RESOLUTION*/
@media (max-width:1400px) {
    html {font-size: 18px;}
}
@media (max-width:1025px) {
    html {font-size: 16px;} 
    body{background: orange;} 
}
@media (max-width:801px) {
    html {font-size: 14px;}
    body{background: yellow;} 
    section:nth-child(odd), section:nth-child(even) {margin: 1rem auto 2rem auto}
}
@media (max-width:600px) {
    html {font-size: 13px;}
    body{background: green;}
}
@media (max-width:480px) {
    html {font-size: 12px;}
    body{background: blue;}
}
@media (max-width:320px) {
    html {font-size: 10px;}
    body{background: violet;}
}
